*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;

    background:url("background.jpg") center center/cover no-repeat;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
    overflow:hidden;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.hero{
    position:relative;
    z-index:10;

    width:90%;
    max-width:750px;

    text-align:center;
    color:#fff;

    padding:50px 30px;
}

.hero h2{
    font-size:18px;
    letter-spacing:8px;
    color:#d9d9d9;
    margin-bottom:15px;
}

.hero h1{
    font-family:'Orbitron',sans-serif;
    font-size:65px;
    color:white;
    letter-spacing:3px;
    text-shadow:0 0 15px rgba(255,255,255,.2);
}

.line{
    width:120px;
    height:4px;
    background:#fff;
    margin:30px auto;
    border-radius:20px;
}

.hero p{
    font-size:18px;
    color:#e8e8e8;
    line-height:1.8;
    max-width:600px;
    margin:auto;
}

button{
    margin-top:45px;

    padding:16px 45px;

    border:none;
    border-radius:50px;

    background:white;
    color:#222;

    font-size:17px;
    font-weight:600;

    cursor:pointer;

    transition:.35s;
}

button:hover{

    background:#111;

    color:white;

    transform:translateY(-5px);

    box-shadow:0 12px 30px rgba(0,0,0,.4);

}

/* Tablet */

@media (max-width:768px){

.hero{
    padding:30px 20px;
}

.hero h1{
    font-size:42px;
}

.hero h2{
    font-size:15px;
    letter-spacing:5px;
}

.hero p{
    font-size:16px;
}

button{
    width:100%;
}

}

/* Mobile */

@media (max-width:480px){

.hero h1{
    font-size:32px;
}

.hero h2{
    font-size:13px;
}

.hero p{
    font-size:15px;
    line-height:1.7;
}

.line{
    width:80px;
}

button{
    padding:15px;
    font-size:16px;
}

}
